body {
    padding-bottom: 50px;
}
.mt-10 {
    margin-top:10px;
}
.pt-50 {
    padding-top:50px;
}
.custom-pretty {
    border:none!important;
}
.custom-control-label:hover {
    cursor: pointer;
}
.loading-overlay {
    position: absolute;
    top:0;
    display: grid;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
}
.loading-overlay div {
    margin:auto;
}
#choose-service, #choose-function, #body-request {
    margin-top: 40px;
}
.schema-body {
    height: 250px;
    overflow-y: scroll;
}
#response {
    margin-top: 30px;
}

/* github corner */
.github-corner:hover .octo-arm{
    animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave{
    0%,100%{
        transform:rotate(0)
    }
    20%,60%{
        transform:rotate(-25deg)
    }
    40%,80%{
        transform:rotate(10deg)
    }
}

@media (max-width:500px){
    .github-corner:hover .octo-arm{
        animation:none
    }

    .github-corner .octo-arm{
        animation:octocat-wave 560ms ease-in-out
    }
}
